# Python
__pycache__/
*.py[codz]
*$py.class
*.so

# Packaging
build/
dist/
*.egg-info/
*.egg

# pip
pip-log.txt
pip-delete-this-directory.txt

# Testing / coverage
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py.cover
.pytest_cache/

# Logs
*.log

# Environments
.env
.envrc
.venv
venv/
env/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
